$main-color: #dec1e5;
$main-color-light: #fbeeff;
$sub-color: #ddedea;
$point-color: #fadadd;

$main-font-color: #555555;
$main-font-bg: #fff8e1;

$red: #ff5959;
$white: #ffffff;
$grey: #c7c7c7;
$grey2: #525252;
$grey3: #4a4a4a;

$bg: #f1f1f1;
