$main-color: #DEC1E5;
$sub-color: #DDEDEA;
$point-color: #FADADD;

$main-font-color: #333333;
$main-font-bg: #FFF8E1;

$red: #ff5959;
$white: #ffffff;
$grey: #c7c7c7;
$grey2: #525252;
$grey3: #4A4A4A;