// COMMON
@mixin button {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	font-size: 0.85rem;
	text-align: center;

	color: $grey2;

	padding: 15px 40px;
	border-radius: 12px;
	border: none;

	cursor: pointer;

	background-color: $point-color
}
