@charset 'utf-8';

@import "color.scss";
@import "modal.scss";

// COMMON STYLE
html,
body {
	margin: 0;
	padding: 0;
	height: 100%; /* body와 html의 높이를 100%로 설정 */
	overflow-y: auto; /* 스크롤 허용 */
}

* {
	font-family: "Noto Sans KR", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100vw;
	margin: 0 auto;
	position: relative;
}

a {
	text-decoration: none;
	color: $main-font-color;
}

ul,
ol,
li {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

input[type="text"] {
	border: 1px solid $grey;
	padding: 10px 15px;
	border-radius: 12px;
	font-size: 12px;
	width: 100%;
	text-align: center;

	&:focus {
		outline: none;
	}
}

textarea {
	outline: none;
	padding: 20px;
	border-radius: 12px;
	border: 1px solid $grey;
	height: 100%;
	width: 100%;
}

.mb20 {
	margin-bottom: 20px;
}

.mt60 {
	margin-top: 60px;
}

header {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	position: fixed;
	top: 0;
	background-color: $white;

	img {
		cursor: pointer;
	}
}

nav {
	border-top: 1px solid $grey;
	width: 100%;
	height: 80px;
	position: fixed;
	bottom: 0;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	z-index: 999;
	background-color: $white;

	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		gap: 10px;
		background-color: $white;

		li {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 1;
			padding: 17px;
			border-radius: 10px;
		}

		.navOn {
			background-color: $main-color;
		}
	}
}

.bottom {
	width: 100%;
	height: 80px;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		width: 100%;
		height: 70px;
		padding: 10px;

		button {
			width: 100%;
			padding: 12px 10px;
			border: none;
			border-radius: 10px;
			background-color: $main-color;
		}
	}
}

section {
	padding: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	gap: 30px;
	overflow: visible;

	.mainDate {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 5px;

		span {
			font-weight: 500;
			font-family: "Montserrat", sans-serif;
			color: $grey;
			font-size: 16px;
			letter-spacing: -0.5px;

			&:last-child {
				font-weight: 700;
				color: $grey2;
				font-size: 30px;
				letter-spacing: -0.5px;
			}
		}
	}

	.year {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		select {
			padding: 2vw;
			border: none;
			font-size: 16px;
			font-weight: 700;
			outline: none;
			color: $main-font-color;
			font-family: "Montserrat", sans-serif;
			letter-spacing: 0.3px;
		}
	}

	.swiper {
		width: 100%;
		height: 300px;
		overflow: hidden;

		.swiper-wrapper {
			display: flex;

			.swiper-slide {
				text-align: center;
				font-size: 18px;
				background: #fff;
				height: 300px;
				width: 300px;
				display: flex;
				justify-content: center;
				align-items: center;

				transition: transform 0.3s ease;
				opacity: 0.5;
				width: 80%;

				position: relative;

				.img-wrapper {
					position: relative;
					width: 300px;
					height: 300px;

					img {
						display: block;
						width: 100%;
						height: 100%;
						object-fit: cover;
						filter: brightness(
							0.7
						); // 이미지를 약간 어둡게 만들어서 흐리게 보이는 효과
					}
				}

				.date {
					position: absolute;
					top: 10px;
					left: 20px;
					z-index: 2; // 투명 레이어보다 위에 위치하도록 설정

					display: flex;
					flex-direction: column;
					align-items: center;

					span {
						color: #fff;
						font-weight: 500;
						font-size: 28px;
						font-family: "Montserrat", sans-serif;

						&:first-child {
							font-size: 50px;
							font-weight: 600;
						}
					}
				}

				.profile {
					position: absolute;
					top: 20px;
					left: 20px;
					z-index: 2; // 투명 레이어보다 위에 위치하도록 설정

					display: flex;
					align-items: center;
					justify-content: space-between;

					width: calc(100% - 40px);

					.profileImg {
						display: flex;
						align-items: center;
						gap: 10px;

						img {
							border-radius: 50px;
							width: 35px;
							height: 35px;
							cursor: pointer;
						}

						.profileInfo {
							display: flex;
							flex-direction: column;
							align-items: flex-start;

							span {
								color: $white;
								font-family: "Montserrat", sans-serif;
								font-weight: 600;
								font-size: 0.8rem;

								&:last-child {
									font-weight: 400;
									font-size: 0.6rem;
								}
							}
						}
					}

					.follow {
						font-family: "Montserrat", sans-serif;
						font-weight: 600;
						font-size: 0.6rem;
						text-align: center;

						color: $white;

						padding: 6px 10px;
						border-radius: 50px;
						border: none;

						cursor: pointer;

						background-color: transparent;
						border: 1px solid $white;
					}
				}
			}

			.swiper-slide-active {
				opacity: 1;
				transform: scale(1);
			}

			.swiper-slide-prev,
			.swiper-slide-next {
				transform: scale(0.9);
				opacity: 0.4;
			}
		}
	}

	.btnWrap {
		width: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 30px;

		padding: 20px;
		padding-bottom: 125px; /* nav의 높이만큼 패딩 추가 */

		p {
			display: flex;
			flex-direction: column;
			align-items: center;

			gap: 3px;

			span {
				font-weight: 400;
				font-family: "Noto Sans KR", sans-serif;
				font-size: 0.95rem;
				color: $grey3;
			}
		}

		.btn {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
			padding: 12px 20px;
			border-radius: 10px;
			border: none;
			background-color: $point-color;
			font-weight: 500;
			color: $grey2;
			font-size: 13px;

			img {
				width: 12px;
				height: 12px;
				margin-top: 2px;
			}
		}
	}
}

.writingDiary {
	height: calc(100vh - 250px);
	gap: 20px;

	.btnWrap {
		width: 100%;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;

		a {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			button {
				width: 100%;
				padding: 10px;
				border-radius: 10px;
				border: none;
				background-color: $point-color;
				font-weight: 500;
				color: $grey2;
				font-size: 13px;
			}
		}
	}
}

.writingView {
	height: calc(100vh - 160px);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow-y: auto;

	img {
		width: 30px;
		height: 30px;
		margin-bottom: -20px;
	}

	.writingViewDate {
		font-size: 12px;
		color: $grey;
		font-weight: 400;
		margin-bottom: -20px;
	}

	span {
		font-size: 16px;
		width: 100%;
		text-align: center;
		font-weight: 500;
	}

	.diary {
		width: 100%;

		p {
			font-size: 15px;
			white-space: normal;
			line-height: 2;
			word-wrap: break-word;
			word-break: keep-all;
		}
	}
}

.selection {
	img {
		width: 120px;
		height: 120px;
	}

	.txt {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 5px;

		span {
			font-weight: 500;
			font-size: 18px;
			color: $grey2;
			width: 100%;
		}
	}

	.selectionBtnWrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		gap: 20px;

		a {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			button {
				background-color: $sub-color;
				padding: 10px 16px;
				border-radius: 10px;
				border: none;
				font-size: 13px;
				color: $grey2;
				font-weight: 500;
				height: 300px;
				width: 50%;
				word-break: keep-all;
				line-height: 1.5;
				cursor: pointer;
				width: 100%;
			}

			.music{
				background-color: $point-color;
			}
		}
	}
}

.play {
	display: flex;
	flex-direction: column;
	gap: 30px;

	img {
		width: 70%;
	}

	span {
		font-weight: 500;
		font-size: 18px;
		color: $grey2;
		width: 100%;
		text-align: center;
	}

	button {
		background-color: $point-color;
		border: none;
		font-weight: 500;
		font-size: 14px;
		padding: 10px 50px;
		border-radius: 10px;
		margin-top: 20px;
		cursor: pointer;
		color: $grey2;

		img {
			width: 15px;
			height: 15px;
			margin-left: 5px;
			margin-top: 2px;
		}
	}
}
